<!--component html goes here -->

<div class="post-list">
	<div *ngFor="let post of post">

		<div class="col-md-1">
      <div *ngIf="post.num_comment>0"><input type="checkbox" checked (click)="likePost(post._id,1)" /></div>
			<div *ngIf="post.num_comment === 0"><input type="checkbox" (click)="likePost(post._id,0)" /></div>
		</div>
		<div class="col-md-7">
			{{post.title}}
		</div>
		<div class="col-md-4">
			<input type="button" (click)="deletePost(post._id)" value="delete" class="btn btn-danger">
		</div>
		<br/><br/>
	</div>

</div>
